<!DOCTYPE html>
<html>
    <head>
    </head>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/loadingstyles.css">
    <script src="/assets/chat.js"></script>
    <body>
        <div id = "top"><h1 id = "title">UT Whispers</h1><p id = 'motto'>Say anything you want, how you want, whenever you want, anonymously.</p> </div>
        <br> <br> <br> <br>
        <div class="lds-facebook"><div></div><div></div><div></div></div>
    </body>
</html>