<!DOCTYPE html>
<html>
    <head>
        <title>Replies to the chat "<%=chat[0].msg%>"</title>
        <meta charset="UTF-8">  
        <meta name="description" content="Say anything you want, how you want, whenever you want, anonymously.">
        <meta name="keywords" content="UT Austin, utwhispers,">
        <meta name="author" content="COK3 Inc.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="assets/msgfav.png"/>
    </head>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="/assets/replystyle.css">
    <div class="formobile">
        <body>
            <div id = "top"><h1 id = "title">Replies to "<%=chat[0].msg%>"</h1></div>
            <br> <br>
            <section class="discussion scroll scrollbar " id="style-3">
                        <% for(var i = 0; i < chat[0].replies.length; i++) { %> <!-- earlier chats go first-->
                            <% if (i % 2 == 0) { %>
                                <div class="bubble recipient first animate-bottom">
                                    <li class = "display"><%=chat[0].replies[i]%></li>
                                    <br>
                                </div>
                            <% } else { %>
                                <div class="bubble sender first animate-bottom">
                                    <li class = "display"><%=chat[0].replies[i]%></li>
                                    <br>
                                </div>
                            <% } %>
                        <% } %>
            </section>
            <br> <br>
            <div id = "homepage"><a href="/"> Click here to go back to the homepage </a></div>

        </body>
    </div>
</html>